footer
    i.rm_atmo-daytime-color.fas.fa-code
    | &nbsp;mit 
    i.rm_atmo-daytime-color.fas.fa-heart
    | &nbsp;von Rene Müller 
    br
    br
    | Dies ist eine private Seite ohne Profit, die von GitHub.com gehostet wird.
