p Eine Freundin hat mich gebeten, ein paar Design-Verbesserungen für ihre Bowlingsseite vorzuschlagen. Ich habe diese Icons draus wiedergefunden und mochte sie so sehr, dass ich sie aus Spaß fertig entwickelt habe.  

p Alle Dateien habe ich hier bereitgestellt: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>