p Eine Arbeitskollegin hat mich gefragt ob ich ihr eine Geschenkkarte zu Ostern zeichnen könnte. Ein Teil dieser Karte war dieser süße Hase. Ich hab nun diese vektorisierte Version erstellt.
p Alle Dateien habe ich hier bereitgestellt: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>