p Hi,
p dies ist ein Kuchen, den ich für eine App gezeichnet habe. Am Ende konnten wir die Grafik nicht benutzen, da das Feature gestrichen wurden. Ich hab es auf meinen Computer einsam wiedergefunden und ich dachte mir ich könnte es teilen :)
p Alle Dateien habe ich hier bereitgestellt: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>