p Meine Nichte hat einmal zu meiner Mutter den Tipp gegeben "Einfach mal nix essen!". Als Erinnerung habe ich eine kleine Zeichnung erstellt und dieses Schwein war das Maskottchen. Nun vektorisiert :)  
p Alle Dateien habe ich hier bereitgestellt: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>