p Der Fokus dieses Projekts war es, eine idyllische Hintergrundszene zu erschaffen, mit der Nutzer interagieren können.
p Es war von diesem genialen Vortrag inspiriert:
p <a href="https://www.youtube.com/watch?v=16oLi1kvLHs"><i class="fab fa-youtube"></i>Mathieu 'p01' Henri: Making Realtime Audio-Visuals - JSConf.Asia 2015</a>
p Welcher mich komplett von den Socken gehauen hat!