p Während eines Universitätsprojekts, eine Musikplattform, hatte ich dieses kleine Icon erstellt. Ich hab es ein wenig überarbietet.
p Alle Dateien habe ich hier bereitgestellt: <a href="https://github.com/renmuell/rmDesings">https://github.com/renmuell/rmDesings</a>