p Twitter Annotator ist ein UI-Prototype zur annotation von Tweets. Aktuell hat es ein Dummy-Backend zur Darstellung des Konzepts.
p Während ich ein Freund bei der annotation von Tweets für eine wissenschaftliche Arbeit gehofen habe, hab ich für ihn diesen kleinen Prototype erstellt. Es war zu einem eine Design-Challange und zum anderen wollte ich ein paar Verbesserungen zeigen.
p Das Ziel war Einfachheit und Eleganz.