p Das ist ein kleines Update für den Hintergrund:

ul(style="list-style:dot") 
    li Kontrolliere die Tageszeit im Spielmodus mittels der Sonne oder dem Mond.
    li Multi-touch Unterstützung.
    li Verschiedene Musikskalen für verschiedene Tageszeiten.
    li Der Text der Webseite kann nun in der aktuellen Tageszeit gefärbt werden.
    li Bugfix: Berührungen auf mobilen Geräten und manche links nicht klickbar.
